./ProcurementManagement/Procurement.Application/bin
./ProcurementManagement/Procurement.Application/obj
./ProcurementManagement/Procurement.Core/bin
./ProcurementManagement/Procurement.Core/obj
./ProcurementManagement/Procurement.Infrastructure/bin
./ProcurementManagement/Procurement.Infrastructure/obj
./ProcurementManagement/Procurement.Tests/bin
./ProcurementManagement/ProcurementManagement/bin
./ProcurementManagement/ProcurementManagement/obj
/ProcurementManagement/Procurement.Application/bin/
/ProcurementManagement/Procurement.Application/obj/
/ProcurementManagement/Procurement.Core/bin/
/ProcurementManagement/Procurement.Core/obj/
/ProcurementManagement/Procurement.Infrastructure/bin/
/ProcurementManagement/Procurement.Infrastructure/obj/
/ProcurementManagement/Procurement.Tests/Procurement.Application.Tests/bin/
/ProcurementManagement/Procurement.Tests/Procurement.Application.Tests/obj/
/ProcurementManagement/ProcurementManagement/bin/
/ProcurementManagement/ProcurementManagement/obj/